.navegacao{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 9vh;
}
.navegacao ul li{
    font-size: 3vh;
    color: white;
    list-style-type: none;
    margin-left: 35vh;
    padding: 2vh;
    float: left;

}
.Card{
    background-color: rgb(206, 204, 204);
    width: 80%;
    height: 70vh;
    margin-left: 20vh;
    margin-top: 10vh;
    border-radius: 2vh; 

    
}
.Card2{
    
    background-color: rgb(206, 100, 100);
    width: 40%;
    height: 60vh;
    margin-left:25vh;
    margin-top: -65vh;
    border-radius: 2vh;
    
}
.Card2 img{
    margin-left: 10vh; 
    margin-top: 10vh;
} 

 /* TESTE DE COMenTAR */